#button_grid {
	border-collapse: collapse;
	background-color: grey;
	border: 1px solid black;
}

.drag-zone {
	width: 90%;
	height: 90%;
	z-index: 2;
}
.drop-zone {	
	width: 20%;
	height: 20%;
	margin: auto;
}

.grid-menu {
	position:relative;
	float:left;
	padding-left: 20px;
}

.grid_cell {
	width: 100px;
	height: 100px;
	border: 1px solid yellow;
}

.text-wrapper {
	display:flex;
    	justify-content: center;
    	align-items: center;
}

.button-text {
	margin:auto;
	font-family: "Verdana", Verdana, sans-serif;

}

.menu-tabs {
	width: 100%;
	display: table;
}

.menu {
	width:500px;
	border-collapse: collapse;
	border: 1px solid grey;
	float:left;
	clear: both;
}

.tab {
	background-color: #deeff5;
	border: 1px solid grey;
	display: table-cell;
	padding: 5px;
	text-align:center;
}

.tab:hover {
	cursor: pointer;
}

.tab-text {
	margin: auto;
	font-family: "Arial Black", Gadget, sans-serif;
	color: #3F3F3F;
}

.tab-content {
	width: 100%;
	height: 500px;
}

.tab-content-actual {
	visibility: hidden;
	position: absolute;
	padding: 10px;
}

.button {
	width:100px;
	height:80px;
	position: absolute;
	background: #e0e0e0; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#e0e0e0,#bdbdbd); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e0e0e0,#bdbdbd); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e0e0e0,#bdbdbd); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e0e0e0,#bdbdbd); /* Standard syntax (must be last) */
    border-radius: 5px;
    border: 1px solid #3f3f3f;
    text-align: center;
    margin: 5px;
    z-index: 5;
}

.button:hover {
	cursor: grab;
}

.button-text {
	width: 100%;
	font-family: "Verdana", Verdana, sans-serif;

}

.grid-setter, .options {
	float: left;
}

#save-layout {
	float: left;
	width:150px;
	margin-left: 10px;
}

.title {
	font-size: 16px;
	font-weight: bold;
}