.menu-tabs {
	width: 100%;
	display: table;
}

.tab {
	background-color: #ccccff;
	border: 1px solid grey;
	display: table-cell;
	padding: 5px;
}

.tab-text {
	margin: auto;
}

.menu-body {
	width: 100%;
	height: 500px;
}

.menu {
	width:200px;
	border-collapse: collapse;
	border: 1px solid grey;
}

.menu-fade {
	width:100%;
	height: 30px;
	background-color: #ccccff;
	background: linear-gradient(#ccccff, white); /* Standard syntax */
}